* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", san serif;
  background-color: black;
  padding: 0 50px;
}

.navbar {
  height: 50px;
  background-color: white;
  color: black;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

ul {
  display: flex;
  list-style-type: none;
}

li {
  margin-left: 30px;
  margin-top: 15px;
}

.wordmark {
  margin: 15px 0 0 0;
  font-weight: 700;
  text-align: start;
}

.container h1 {
  color: white;
}

.container p {
  color: white;
}

.landing .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12%;
}

.aside {
  margin-top: 50px;
}
.article-2 {
  margin-top: 17%;
}
.article-2 img {
  background-color: white;
}

.article-2 .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aside-2 {
  margin-left: 30%;
}

.aside-2 h1 {
  margin-bottom: 20px;
}

.aside-2 p {
  margin-bottom: 20px;
}

.aside-2 a {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 50px;
}

.article-3 .container {
  display: flex;
  margin-top: 300px;
  align-items: center;
  justify-content: space-between;
}

.article-3 .sub-article-2 {
  background-color: white;
}

.aside-3 h1 {
  margin-bottom: 20px;
}

.aside-3 p {
  margin-bottom: 20px;
}

.aside-3 a {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 50px;
}

.article-4 .container {
  display: flex;
  margin-top: 300px;
  align-items: center;
  justify-content: space-between;
}

.article-4 .sub-article-3 {
  background-color: white;
}

.aside-4 h1 {
  margin-bottom: 20px;
}

.aside-4 p {
  margin-bottom: 20px;
}

.aside-4 a {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 50px;
}

.article-5 .container {
  display: flex;
  margin-top: 300px;
  align-items: center;
  justify-content: space-between;
}

.article-5 .sub-article-4 {
  background-color: white;
}

.aside-5 h1 {
  margin-bottom: 20px;
}

.aside-5 p {
  margin-bottom: 20px;
}

.aside-5 a {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 50px;
}

.article-6 .container {
  display: flex;
  margin-top: 300px;
  align-items: center;
  justify-content: space-between;
}

.article-6 .sub-article-5 {
  background-color: white;
}

.aside-6 h1 {
  margin-bottom: 20px;
}

.aside-6 p {
  margin-bottom: 20px;
}

.aside-6 a {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 50px;
}

.end {
  width: 120vw%;
  height: 80px;
  background-color: white;
  margin-top: 300px;
}

.end p {
  text-align: center;
  font-size: 13px;
  margin-top: 10px;
}

.end a {
  text-align: center;
  font-size: 13px;
  margin-top: px;
}

a {
  text-decoration: none;
  color: black;
}
